oliver/insight workflow (2).json
{
  "name": "insight workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -848,
        160
      ],
      "id": "3d9da3d5-f937-432d-86f9-138f8c43d138",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const partNumbers = $input.first().json.partNumber;\n\nreturn partNumbers.map(num => {\n  return {\n    json: {\n      partNumber: num\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        160
      ],
      "id": "ad99c19b-0af6-4d44-b973-bc055e8d2f38",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/MpRbnNmVAoj5RC1Ma/input",
          "mode": "url"
        },
        "customBody": "={\n  \"startUrls\": [\n    {\n      \"url\": \"https://www.netcomponents.com/demo/result?SearchLogic=begins&PSA=true&PartsSearched%5B0%5D.PartNumber={{ $json.partNumber }}\"\n    }\n  ],\n  \"pageFunction\": \"async function pageFunction(context) { let { page } = context; return await page.$$eval('tr', (rows) => { let isDate = (str) => /\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4}/.test(str); return rows.map(row => { let cells = Array.from(row.querySelectorAll('td')); if (cells.length < 9) return null; let partText = cells[0]?.innerText.trim() || ''; if (!partText || /Europe|In-Stock|Part Number/i.test(partText)) return null; /* Description: Pehli script ka logic (isDate check ke saath) */ let qtyDataForDesc = cells[5]?.innerText.trim() || cells[6]?.innerText.trim() || ''; let descData = isDate(qtyDataForDesc) ? '' : qtyDataForDesc; /* Part, Mfr, DC: Doosri script ka logic */ let mfrData = cells[3]?.innerText.replace(/\\\\n/g, ' ').trim() || ''; let dcData = cells[4]?.innerText.trim() || ''; /* Qty: Doosri script ka logic (Strictly Cell 8) */ let rawQty = cells[8]?.innerText.trim() || '0'; let cleanQty = rawQty.replace(/[^0-9]/g, ''); let strictResult = Object.freeze({ partNumber: partText, mfr: mfrData, dc: dcData, description: descData, qty: cleanQty }); return { partNumber: strictResult.partNumber, mfr: strictResult.mfr, dc: strictResult.dc, description: strictResult.description, qty: strictResult.qty }; }).filter(r => r !== null && r.partNumber !== ''); }); }\"\n}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        96,
        176
      ],
      "id": "a3321cae-0810-4d54-a3a7-ca50bfa786a0",
      "name": "Run an Actor",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "cwv0rJZMnDv4v1Ig",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{$json.defaultDatasetId}}",
        "limit": 1000,
        "options": {},
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        320,
        176
      ],
      "id": "b160c922-0ebc-47fc-95d5-ffd62fc2964d",
      "name": "Get dataset items",
      "alwaysOutputData": false,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "cwv0rJZMnDv4v1Ig",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -224,
        160
      ],
      "id": "105865cc-43a1-4bf0-8a27-a3765551a371",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UWllgD9rl8REUtkyELnIM_Od2JfWoIhiMMp20CZcmyY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UWllgD9rl8REUtkyELnIM_Od2JfWoIhiMMp20CZcmyY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "partNumber": "={{$json.partNumber}}",
            "mfr": "={{$json.mfr}}",
            "dc": "={{ $json.dc }}",
            "description": "={{ $json.description }}",
            "qty": "={{ $json.qty }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "partNumber",
              "displayName": "partNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mfr",
              "displayName": "mfr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dc",
              "displayName": "dc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "#error",
              "displayName": "#error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "#debug",
              "displayName": "#debug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        176
      ],
      "id": "3340606a-7b47-4eba-a669-7a8fb2de27de",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y6HmhDfP9RPHFHen",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2948355-4f94-49b6-a601-0b199d154c99",
              "name": "partNumber",
              "value": "[10161, 13441,  5458]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -640,
        160
      ],
      "id": "4b65fd37-3790-43d8-a908-3f519a0de8d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_8jRGvUXhKSbpE2nyyDRy4i2IMsrk_Zjdayq2pTPWOk",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1_8jRGvUXhKSbpE2nyyDRy4i2IMsrk_Zjdayq2pTPWOk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -480,
        -224
      ],
      "id": "8131edbc-5fec-46ec-a9e7-707e12611fd6",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y6HmhDfP9RPHFHen",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "qty",
        "joinMode": "keepEverything",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        -208
      ],
      "id": "8ffc7fa5-8284-4e2c-b26a-b323becdb9ad",
      "name": "Merge"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        -208
      ],
      "id": "caf2ef0b-f77d-4f92-a07d-8cdd990661ab",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "let data = items.map(i => i.json);\n\n// qty ke basis par sort (high to low)\ndata.sort((a, b) => b.qty - a.qty);\n\n// rank add karna\ndata = data.map((item, index) => ({\n  ...item,\n  rank: index + 1\n}));\n\nreturn data.map(d => ({ json: d }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -208
      ],
      "id": "1d81dc78-b133-4b9e-8a85-76c9964eb6bd",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const data = items.map(i => i.json);\n\n// total qty calculate\nconst totalQty = data.reduce((sum, item) => {\n  const qty = Number(item.qty) || 0;\n  return sum + qty;\n}, 0);\n\n// top item\nconst top = data[0];\n\n// lowest item\nconst lowest = data[data.length - 1];\n\nreturn [\n  {\n    json: {\n      total_parts: data.length,\n      total_quantity: totalQty,\n      top_partNumber: top.partNumber,\n      top_qty: Number(top.qty),\n      lowest_partNumber: lowest.partNumber,\n      lowest_qty: Number(lowest.qty)\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        -208
      ],
      "id": "e69a57eb-1e0e-428a-a7fa-ca0200b2d347",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "upsert",
        "dataTableId": {
          "__rl": true,
          "value": "wGSnq7ccOaGWGG7m",
          "mode": "list",
          "cachedResultName": "Insight table",
          "cachedResultUrl": "/projects/8wLWljIEbE0MkY60/datatables/wGSnq7ccOaGWGG7m"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "top_partNumber",
              "keyValue": "={{ $json.top_partNumber }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "total_parts": "={{ $json.total_parts }}",
            "lowest_qty": "={{ $json.lowest_qty }}",
            "lowest_partNumber": "={{ $json.lowest_partNumber }}",
            "top_qty": "={{ $json.top_qty }}",
            "total_quantity": "={{ $json.total_quantity }}",
            "top_partNumber": "={{ $json.top_partNumber }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "total_parts",
              "displayName": "total_parts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "total_quantity",
              "displayName": "total_quantity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "top_partNumber",
              "displayName": "top_partNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "top_qty",
              "displayName": "top_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lowest_partNumber",
              "displayName": "lowest_partNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lowest_qty",
              "displayName": "lowest_qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        768,
        -208
      ],
      "id": "b3851ad1-9407-4b7b-832c-e745a6c710c1",
      "name": "Upsert row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Upsert row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert row(s)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1586e4ae-8ad6-44e3-b848-cb39640362db",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6993252f32c5018379eeb5ad4a48087f25f1905c450639b58bd22b9836b46f78"
  },
  "id": "abNEMurbddmPSobB",
  "tags": []
}