oliver/multiple partnumber scraper
{
  "name": "multiple part number",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1152,
        608
      ],
      "id": "e1e294a6-17c1-4699-8e13-e9c369dd604e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "const partNumbers = $input.first().json.partNumber;\n\nreturn partNumbers.map(num => {\n  return {\n    json: {\n      partNumber: num\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        608
      ],
      "id": "1f3eb356-4a30-40bb-a901-d75f1838d605",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "actorSource": "store",
        "actorId": {
          "__rl": true,
          "value": "https://console.apify.com/actors/MpRbnNmVAoj5RC1Ma/input",
          "mode": "url"
        },
        "customBody": "={\n  \"startUrls\": [\n    {\n      \"url\": \"https://www.netcomponents.com/demo/result?SearchLogic=begins&PSA=true&PartsSearched%5B0%5D.PartNumber={{ $json.partNumber }}\"\n    }\n  ],\n  \"pageFunction\": \"async function pageFunction(context) { let { page } = context; return await page.$$eval('tr', (rows) => { let isDate = (str) => /\\\\d{2}\\\\/\\\\d{2}\\\\/\\\\d{4}/.test(str); return rows.map(row => { let cells = Array.from(row.querySelectorAll('td')); if (cells.length < 9) return null; let partText = cells[0]?.innerText.trim() || ''; if (!partText || /Europe|In-Stock|Part Number/i.test(partText)) return null; /* Description: Pehli script ka logic (isDate check ke saath) */ let qtyDataForDesc = cells[5]?.innerText.trim() || cells[6]?.innerText.trim() || ''; let descData = isDate(qtyDataForDesc) ? '' : qtyDataForDesc; /* Part, Mfr, DC: Doosri script ka logic */ let mfrData = cells[3]?.innerText.replace(/\\\\n/g, ' ').trim() || ''; let dcData = cells[4]?.innerText.trim() || ''; /* Qty: Doosri script ka logic (Strictly Cell 8) */ let rawQty = cells[8]?.innerText.trim() || '0'; let cleanQty = rawQty.replace(/[^0-9]/g, ''); let strictResult = Object.freeze({ partNumber: partText, mfr: mfrData, dc: dcData, description: descData, qty: cleanQty }); return { partNumber: strictResult.partNumber, mfr: strictResult.mfr, dc: strictResult.dc, description: strictResult.description, qty: strictResult.qty }; }).filter(r => r !== null && r.partNumber !== ''); }); }\"\n}",
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -304,
        448
      ],
      "id": "e9a62825-da68-4c2f-84cd-a1d747c9c06b",
      "name": "Run an Actor",
      "credentials": {
        "apifyOAuth2Api": {
          "id": "cwv0rJZMnDv4v1Ig",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "Datasets",
        "datasetId": "={{$json.defaultDatasetId}}",
        "limit": 1000,
        "options": {},
        "authentication": "apifyOAuth2Api"
      },
      "type": "@apify/n8n-nodes-apify.apify",
      "typeVersion": 1,
      "position": [
        -96,
        448
      ],
      "id": "aff5d514-b0f4-4c88-84f2-da1558aa861f",
      "name": "Get dataset items",
      "alwaysOutputData": false,
      "credentials": {
        "apifyOAuth2Api": {
          "id": "cwv0rJZMnDv4v1Ig",
          "name": "Apify OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -528,
        608
      ],
      "id": "a3a54c3a-c75b-42fe-be0a-a5e71f5a1c85",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1UWllgD9rl8REUtkyELnIM_Od2JfWoIhiMMp20CZcmyY",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1UWllgD9rl8REUtkyELnIM_Od2JfWoIhiMMp20CZcmyY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "partNumber": "={{$json.partNumber}}",
            "mfr": "={{$json.mfr}}",
            "dc": "={{ $json.dc }}",
            "description": "={{ $json.description }}",
            "qty": "={{ $json.qty }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "partNumber",
              "displayName": "partNumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mfr",
              "displayName": "mfr",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "dc",
              "displayName": "dc",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "description",
              "displayName": "description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "qty",
              "displayName": "qty",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "#error",
              "displayName": "#error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "#debug",
              "displayName": "#debug",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        384,
        640
      ],
      "id": "92bdcec3-d83a-48f9-bba8-7252466a8bf7",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "Y6HmhDfP9RPHFHen",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a2948355-4f94-49b6-a601-0b199d154c99",
              "name": "partNumber",
              "value": "[10161, 13441,  5458]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        608
      ],
      "id": "c4141d1b-da62-47f8-b060-cb3337195b0b",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run an Actor": {
      "main": [
        [
          {
            "node": "Get dataset items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get dataset items": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Run an Actor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c0b561ec-4417-4f6d-b57f-c53325a66fbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6993252f32c5018379eeb5ad4a48087f25f1905c450639b58bd22b9836b46f78"
  },
  "id": "xYYDHhc9kSMV1khp",
  "tags": []
}
