whatsapp boat on n8n/whatsapp bot.json
{
  "name": "whatsapp bot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-incoming",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "52c15f4e-eb64-4774-a0f4-86fce4655b29",
      "name": "Webhook",
      "webhookId": "3064f1a1-52fd-439a-95ea-781d100c9c3f",
      "notesInFlow": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b6cecfc-9e92-4d4c-9a0a-df0fafd40df2",
              "name": "from",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].from }}",
              "type": "string"
            },
            {
              "id": "c05757af-fce9-4aaa-a86b-2a0eb856c6fa",
              "name": "message",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].text.body }}",
              "type": "string"
            },
            {
              "id": "41d60f75-f19c-4e3d-b697-cac695f849a6",
              "name": "timestamp",
              "value": "={{ $json.entry[0].changes[0].value.messages[0].timestamp }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "5b6cee50-76e5-4ac7-b6ac-1fb36cb6da79",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1I7PMRT6axr1n5P5IkAmPj1pOvLBfJBh6jaRo8O5cuzA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1I7PMRT6axr1n5P5IkAmPj1pOvLBfJBh6jaRo8O5cuzA/edit?gid=0#gid=0",
          "mode": "url"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last name",
              "displayName": "last name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email address",
              "displayName": "email address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone",
              "displayName": "phone",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        416,
        0
      ],
      "id": "8f2b5745-9357-4b9f-a66b-303260d66b5e",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rA8YwYbVmt2NwVWx",
          "name": "Google Sheets account 4"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v18.0/PHONE_NUMBER_ID/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_PERMANENT_ACCESS_TOKEN"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"={{ $json.from }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"Thanks! Your message has been saved successfully.\"\n  }\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        624,
        0
      ],
      "id": "1d0d4d20-e48b-49c7-95c2-6fa023fd625e",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "15ab96cc-2d42-4600-9b3f-fc9642e620f5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d0960590361dda640582d806301dd813e579602c76be959e9da0cc58155295ef"
  },
  "id": "umvpIBZ4fRlX2TYuVlYk_",
  "tags": []
}